.clientpg {
	height: 100vh;
	// padding-top: 5vh;
	width: 100%;
	overflow-x: hidden;
}
.clientpg::-webkit-scrollbar {
	width: 0px; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}

.overLanding {
	overflow: hidden;
	height: 105vh;
	position: relative;
}

.over {
	position: relative;
	height: 100vh;
}
.sectionFull {
	overflow: hidden;
	height: 100vh;
	position: relative;
}

#book {
	position: absolute;
	bottom: 3%;
	right: 3%;
	font-size: 1.5em;
	z-index: 200;
	background-color: #b87333 !important;
	color: white !important;
	transition: all 0.2s ease-in-out;
	-webkit-box-shadow: -1px 6px 14px -1px rgba(61, 59, 61, 1);
	-moz-box-shadow: -1px 6px 14px -1px rgba(61, 59, 61, 1);
	box-shadow: -1px 6px 14px -1px rgba(61, 59, 61, 1);
}

#book:hover {
	transform: scale(1.2);
}

#submit {
	font-size: 1.5em;
}

.modaldesc {
	display: flex !important;
	flex-direction: column !important;
	font-size: 1em;
}

.checkbox {
	margin: 0.5em 0;
	font-size: 1.3em;
}

.fullscreen-video-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
	video {
		/* Make video to at least 100% wide and tall */
		min-width: 100%;
		min-height: 100%;

		/* Setting width & height to auto prevents the browser from stretching or squishing the video */
		width: auto;
		height: auto;

		/* Center the video */
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(
		to bottom,
		rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 0),
		rgba(0, 0, 0, 1)
	);
	z-index: 1;
}

.overlayInvert {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(
		to top,
		rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 0),
		rgba(0, 0, 0, 1)
	);
	z-index: 1;
}

.overlayContent {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: max-content;
	z-index: 3;
}
.overlayContent2 {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	z-index: 3;
}

.hand {
	margin-left: 0.3em !important;
	-webkit-animation: mover 1s infinite alternate;
	animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-10px);
	}
}
@keyframes mover {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-10px);
	}
}
.compTitle {
	font-size: 5em !important;
	padding: 1em;
	color: white;
	text-shadow: 2px 2px 8px #000000;
}

.team {
	padding: 1em;
	position: relative;
	h1 {
		font-size: 3em !important;
	}
}

.content {
	z-index: 10;
	position: relative;
}

.services {
	padding: 1em;
}

// tiles
.tiles {
	padding: 6vh 6vw;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	position: relative;
}
.tile {
	margin: 15px;
	cursor: pointer;
	overflow: hidden;
	width: 18vw;
	height: 18vw;
	img {
		width: 100%;
		transition: transform 500ms ease;
		&:hover {
			transform: scale(1.1);
		}
	}
}

.modalImg {
	width: 100%;
}

.carousel-slider {
	height: 60vh !important;
}

.title:hover {
	background-color: #000000b2;
	cursor: pointer;
}
