.nav{
    background-color: #E3D170 !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    .item{
        color: white !important;
        font-size: 1.4em;
    }
}
.subnav{
    margin-top: 0 !important;
    border-radius: 0 !important;
    .item{
        color: white !important;
    }
}
.client{
    background-color: #93CAA4 !important;
}
.student{
    background-color: #93CAA4 !important;
}