.nav {
	margin-bottom: 0 !important;
	border-radius: 0 !important;
	height: 5vh;
	z-index: 300 !important;

	.item {
		color: white !important;
		font-size: 1.4em;
	}
}

.subnav {
	margin: 0 !important;
	border-radius: 0 !important;
	height: 4vh;

	.item {
		color: white !important;
	}
}

.client {
	background-color: #184f30 !important;
}

.student {
	background-color: #184f30 !important;
}
